.container {
  display: block;
  margin: 40px auto;
  border: 1px solid;
  border-radius: 4px;
  width: 50%;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
.search {
  margin: 30px;
  width: 50%;
}
.top-button {
  background-color: #ffff;
  color: #000;
  border-color: #000;
  font-family: FontAwesome;
}
.top-button:hover {
  background-color: rgb(255, 236, 199);
  color: #000;
  border-color: #000;
}
.temp {
  text-align: center;
}
.date {
  text-align: right;
}
.weather-icon-today {
  width: 280px;
  margin: 0 auto;
  padding: 0px;
}
.weather-icon-future {
  width: 100px;
}
li {
  list-style-type: none;
}
.col-2 {
  font-size: 18px;
  text-align: center;
  margin: 0 10px 0 10px;
}
.future {
  text-align: center;
}
.location-date {
  font-size: 20px;
  margin-right: 25px;
}
.weather-spec {
  text-align: center;
}
.fas {
  font-size: 40px;
}
.units {
  font-size: 15px;
}
a:link {
  font-size: 15px;
  text-decoration: none;
}
h1 {
  font-size: 60px;
}
h1 p {
  font-size: 15px;
}
h3 {
  color: #000;
  text-decoration: none;
}
h3:hover {
  text-decoration: underline;
}
