.container {
  display: block;
  margin: 40px auto;
  border: 3px solid;  
  width: 40%;
  border: 2px solid rgb(96, 103, 131);
  border-radius: 2px;
  box-shadow: 5px 5px 0 0 #a4baf7;
}
.weather-app {
  padding: 0 0 30px 0;
}
.search {
  margin: 25px;
  width: 75%;
  border: 2px solid;
  border-radius: 6px;
  padding: 2px;
  border-color: #a4baf7;
}
.top-button {
  font-size: 27px;
  color: #000;
  font-family: FontAwesome;
  border: none;
  background-color: transparent;
}
.top-button:hover {
  color: #8fa9f0;
  transition: all 200ms ease;
}
.current-weather {
  margin-bottom: 15px;
  color: rgb(20, 20, 20);
}
#new-city {
  font-size: 40px;
  margin-left: 28px;
}
#weather-icon-today {
  width: 40%;
  margin: 0 0 0 10px;
} 
li {
  list-style-type: none;
}
#temperature {
  font-size: 50px;
  text-align: center;
}
.units {
  font-size: 15px;
}
.capitalize {
  text-transform: capitalize;
}
.weather-spec {
  text-align: left;
}
.rain-and-wind {
  width: 40px;
}
.forecast {
  text-align: center;
}
.forecast-weather-icon {
  width: 70%;
}
.col-2 {
  font-size: 15px;
  text-align: center;
  margin: 0 8px 0 8px;
}
#code {
  font-size: 15px;
  text-decoration: none;
  color: black;
}
#code:hover {
  color: #96adeb;
  transition: all 200ms ease;
}
